@model IEnumerable<Lab11.Models.Company>

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h3>List of Companies</h3>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="CreateCompany">Create New Company</a>
    </p>
}
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headquarters)
            </th>
            <th>
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => company.Headquarters)
            </td>
            <td>
                <a asp-action="CompanyExperience" asp-route-id="@company.CompanyId">View Experiences</a>
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <a asp-action="DeleteCompany" asp-route-id="@company.CompanyId">Delete Company</a> |
                <a asp-action="EditCompany" asp-route-id="@company.CompanyId">Edit Company</a> |
                <a asp-action="AddExperience" asp-route-id="@company.CompanyId">Add Experience</a> 
            </td>
            }
        </tr>
        }
    </tbody>
</table>

